<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="{{ url_for('static', filename='css/all.min.css') }}" rel="stylesheet">
</head>
<body class="panel-container">

    <header class="modern-header">
        <div class="header-left">
            <button class="hamburger-btn" id="hamburgerBtn">
                <i class="fas fa-bars"></i>
            </button>
            <h1 class="logo-text">Logest</h1>
        </div>
        <div class="header-right">
            <span class="user-name">Hola, {{ current_user.usuario }}</span>
            <a href="{{ url_for('auth.logout') }}" class="btn-log-out">Cerrar sesión</a>
        </div>
    </header>
    

    <div class="overlay" id="overlay"></div>

    <div class="content">
        <div class="modulos">
            <a href="/inventario" class="module-box"><i class="fas fa-boxes"></i><span>Inventario</span></a>
            <a href="/ventas" class="module-box"><i class="fas fa-shopping-cart"></i><span>Ventas</span></a>
            <a href="/clientes" class="module-box"><i class="fas fa-users"></i><span>Clientes</span></a>
            <a href="/reportes" class="module-box"><i class="fas fa-file-invoice-dollar"></i><span>Facturación</span></a>
            <a href="/reportes" class="module-box"><i class="fas fa-shopping-cart"></i><span>Compras</span></a>
            <a href="/reportes" class="module-box"><i class="fas fa-truck"></i><span>Proveedores</span></a>
            <a href="/reportes" class="module-box"><i class="fas fa-calculator"></i><span>Contabilidad</span></a>
            <a href="/reportes" class="module-box"><i class="fas fa-chart-line"></i><span>Reportes</span></a>
        </div>
    </div>
    
    

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
