<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="{{ url_for('static', filename='css/all.min.css') }}" rel="stylesheet">
</head>
<body class="panel-container">


    <header class="header">
        <button class="hamburger-btn" id="hamburgerBtn">
            <i class="fas fa-bars"></i>
        </button>
    <h1 style="color: black;">Logest</h1>
        <div class="header-content">
            <span>Hola, {{ current_user.usuario }}</span>
            <a href="{{ url_for('auth.logout') }}" class="btn-log-out">Cerrar sesión</a>
        </div>
    </header>


    <div class="overlay" id="overlay"></div>


    <div class="main-content">

        <aside class="sidebar" id="sidebar">
            <ul>
                <li><a href="/perfil"><i class="fas fa-home"></i> Inicio</a></li>
                <li><a href="/inventario"><i class="fas fa-boxes"></i> Inventario</a></li>
                <li><a href="/ventas"><i class="fas fa-shopping-cart"></i> Ventas</a></li>
                <li><a href="/clientes"><i class="fas fa-users"></i> Clientess</a></li>
                <li><a href="/reportes"><i class="fas fa-chart-bar"></i> Reportes</a></li>
            </ul>
        </aside>

        <main class="content">
            <h2>Bienvenido al sistema</h2>

        <div class="stats-grid">
            <div class="stat-card">
                <h3>Productos</h3>
                <p>154</p>
            </div>
            <div class="stat-card">
                <h3>Ventas del mes</h3>
                <p>G. 8.500.000</p>
            </div>
            <div class="stat-card">
                <h3>Clientes activos</h3>
                <p>27</p>
            </div>
            </div>

        <section>
            <h2>Crear nuevos usuarios</h2>
            <form action="{{ url_for('admin.crear_usuario') }}" method="POST" class="formulario-admin">
                <input type="text" name="nombre_usuario" placeholder="Nombre cliente" required>
                <input type="text" name="telefono_usuario" placeholder="Número de teléfono" required>
                <input type="text" name="direccion_usuario" placeholder="Dirección" required>
                <input type="text" name="usuario_usuario" placeholder="Nombre de usuario" required>
                <input type="password" name="password_usuario" placeholder="Contraseña" required>
                <button type="submit" class="enviar_datos">Enviar datos</button>
            </form>
        </section>
        </main>
    </div>
    
    <footer><h3>© 2025. Todos los derechos reservados.</h3></footer>

    <script src="{{ url_for('static', filename='main.js') }}"></script>

</body>
</html>